.photo-wall {
    background-color: #36465D;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-auto-rows: 1px;
    width: 80vw;
    position: relative;
    padding: 1rem; 
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.main > Button{
    margin-top: 1rem;
}