.notes {
    color: gray;
    font-weight: 700;
}

.post-actions {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.actions > *{
    margin: 0 7px;
}

.actions > *:hover{
    cursor: pointer;
}